<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../../../assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/electro/font-electro.css">    
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <a href="#" class="btn px-5 btn-primary-dark transition-3d-hover">
        <i class="ec ec-add-to-cart mr-2 font-size-20"></i> Add to Cart
    </a>
</body>
</html>